<div class="row">
    <div class="col-md-7 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
                    <canvas id="myChart" style="width:120%;max-width:700px"></canvas>

                    <script>
                        const xyValues = [
                            { x: 50, y: 7 },
                            { x: 60, y: 8 },
                            { x: 70, y: 8 },
                            { x: 80, y: 9 },
                            { x: 90, y: 9 },
                            { x: 100, y: 9 },
                            { x: 110, y: 10 },
                            { x: 120, y: 11 },
                            { x: 130, y: 14 },
                            { x: 140, y: 14 },
                            { x: 150, y: 15 }
                        ];

                        new Chart("myChart", {
                            type: "scatter",
                            data: {
                                datasets: [{
                                    pointRadius: 4,
                                    pointBackgroundColor: "rgb(0,0,255)",
                                    data: xyValues
                                }]
                            },
                            options: {
                                legend: { display: false },
                                scales: {
                                    xAxes: [{ ticks: { min: 40, max: 160 } }],
                                    yAxes: [{ ticks: { min: 6, max: 16 } }],
                                }
                            }
                        });
                    </script>
            </div>
        </div>
    </div>
    <div class="col-md-5 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <p class="card-title">Toplam Satışlar</p>
                <h1>@ViewBag.totalSales &#8378</h1>
                <h4>Bu yılki brüt satış</h4>
                <div id="total-sales-chart-legend"></div>
            </div>
            <canvas id="total-sales-chart"></canvas>
        </div>
    </div>
</div>
